/*Main color set
Black: #2B2B29
Pink: #DF405D
Beige: #E9E9E1
*/




html{
	font-size:calc(100vw / 120);
}

body{
	background-color: #E9E9E1;
}

@font-face{
  	font-family: "Glow Sans Extend Heavy";
  	src: url("./assets/font/GlowSansJ-Extended-Heavy.otf");
}
@font-face{
  	font-family: "Glow Sans Extend Bold";
	src: url("assets/font/GlowSansJ-Extended-Bold.otf");
}
@font-face{
  	font-family: "Glow Sans Wide Book";
	src: url("assets/font/GlowSansJ-Wide-Book.otf");
}	


	.logo{
		position: absolute;
		margin-right: 18.75rem;
		margin-top: 1rem;
		width: 14.125rem;
		height: 12.5rem;
		}

	.logo-but-smaller{
		width:6.21rem;
		height:6.69rem;
		position: absolute;
		margin-top: 1rem;
		margin-left: 1.15rem;
		z-index: 99;
	}

	#title{
		z-index:999; 
		font-family: "Dela Gothic One", "Glow Sans Extend Heavy","sans-serif";
		color: #2B2B29;
		text-align: center;
		font-size: 8.5625rem;
		margin-bottom: 0;
		  }

	.title-but-smaller{
		text-align: left;
		margin-left: 10rem;
		font-size: 4.25rem;
		font-family: "Dela Gothic One", "Glow Sans Extend Heavy","sans-serif";
		color:#2B2B29;
	}

	.intro{
		text-align: center;
		font-family: "Glow Sans Wide Book","sans-serif";
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
		padding-top: 0;
		padding-bottom: 0rem;
		width: fit-content;
		margin: auto;
		}

	.typewriter{
			overflow: hidden; /* Ensures the content is not revealed until the animation */
			border-right: .15em solid #DF405D; /* The typewriter cursor */
			white-space: nowrap; /* Keeps the content on a single line */
			margin: 0 auto; /* Gives that scrolling effect as the typing happens */
			animation: 
			  typing 3.5s steps(40, end),
			  blink-caret .75s step-end infinite;
		  }
		  
		  /* The typing effect */
		  @keyframes typing {
			from { width: 0 }
			to { width: 100% }
		  }
		  
		  /* The typewriter cursor effect */
		  @keyframes blink-caret {
			from, to { border-color: transparent }
			50% { border-color:#DF405D; }
		  }

	nav{
   		width: 100%;	
   		position: fixed;
		top:0;
		font-family: "Glow Sans Extend Bold","Dela Gothic One", "sans-serif";
		font-size: 1.5rem;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		z-index: 99;
		   }

	nav ul{
		margin: 0;
		padding: 0;
		width: 100%;
			}
			nav li{
				display: inline-grid;
				}

	.about{
		margin-right: 20rem;
		margin-left: 1.15rem;
				}
	.other-work{
		margin-left: 10rem;
				}
	.illustration{
		margin-left: 20rem;
		margin-right:  10rem;
				}
			nav li a {
    			color: #2B2B29;
    			text-decoration: none;
				}

			nav li a:hover {
				color: #4ACA6F;
				}

			nav li a:hover span{
				color: #4ACA6F;
				}

			.contact {
				color:#DF405D;
				}

			.contact:hover {
				color:#4ACA6F;
				}

			.subtitle li {
						display: flex;
						margin-left: 20rem;
						}
			.slash{
					color:#DF405D;
					}

		.right-bottom-box{
			position:relative;
		}

		.generic-page-title{
			position:fixed;
			text-align: right;
			bottom: 0;
			right: 0;
			color: white;
			font-family: "Glow Sans Extend Bold","Dela Gothic One", "sans-serif";
			list-style: none;
			font-size: 4.5rem;
			z-index: -1;
			line-height: 4rem;
		}

		.demonstration{
					text-align: center;
					}

			.demo01{
					width: 70%;
					text-align: center;
					margin-top: 9rem;
					margin-bottom: 15rem;
					}

	.footer{
		position: relative;
		min-height: 100%;
}
		.copyright{
			text-align: center;
			font-family: "Glow Sans Wide Book","sans-serif";
			letter-spacing: 0.1rem;
			margin-top: 10rem;
			margin-bottom: 1rem;
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: -1;
			color: grey;
		}

		.container{
			width: 77.7778%;
			margin: 33.34vh auto 20vh auto;
		}

		/*About page*/

		.title-of-page{
			font-family: "Glow Sans Extend Bold", "sans-serif";
			font-size: 3rem;
			
}
		.inside-about-me{
			font-size: 1.2rem;
			font-family: "Glow Sans Wide Book","sans-serif";
			
}

		.follow{
			list-style: none;
			padding: 0;
			margin-bottom: 70rem;
		}

		.icon{
			
			float: left;
			width: 2rem;
			height: 2rem;
			margin-right: 1.5rem;
			padding: 0;
		}

		.avatar-me{
			border-radius: 100%;
			width: 20rem;
			height: 20rem;
			overflow: hidden;
			margin-bottom: 4rem;
		}

		.avatar-image{
			width: 27rem;
			height: auto;
			position: relative;
			right: 6.8rem;
		}

		/*Illustration page*/

		.gallery
		{
			display: grid;
			grid-template-columns: repeat(auto-fill, 14rem);
			grid-gap: 0.4rem;
			grid-auto-rows: 14rem;
			grid-auto-flow: dense;
			margin-top: 10rem;
		}

		.gallery-items{
			padding: 0;
			font-size: 1.2rem;
			border-radius: 1rem;
			background-color: #4ACA6F;
			color:#2B2B29;
			overflow: hidden;
			text-align: start;
			position: relative;
			text-decoration: none;
		}

		.gallery img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
		}

		.gallery img:hover{
			opacity: 0.8;
		}

		.span-1{
			grid-row-end: span 4;
			grid-column-end: span 3;
		}

		.span-2{
			grid-row-end: span 2;
			grid-column-end: span 3;
		}

		.span-3{
			grid-column-end: span 6;
		}

		.span-4{
			grid-row-end: span 3;
			grid-column-end: span 2;
		}
		.span-5{
			grid-column-end: span 3	;
		}
		
		.container-title{
			position: absolute;
			animation: loop 3s infinite linear;
			white-space: nowrap;
		}
			@keyframes loop {
				0% {
					transform: translateX(0);
				}
				
				100% {
					transform: translateX(-50%);
				}
			}

		.title-of-works{
			display: inline-block;
			margin-left: 1rem;
			margin-right: 1rem;
			font-size: 10rem;
		  }


		.hvr-sweep-to-right {
			display: inline-block;
			vertical-align: middle;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			-webkit-transition-property: color;
			transition-property: color;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
		  }
		  .hvr-sweep-to-right:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			/*background: #2098D1;*/
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		  }
		  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
			color: white;
		  }
		  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		  }

		/* Styles for the lightbox container */
		.lightbox {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			text-align: center;
			z-index: 1;
		}

		/* Styles for the lightbox content */
		.lightbox-content {
			max-width: 90%;
			max-height: 90%;
			margin: auto;
			display: block;
		}

		/* Style for the close button */
		.close-button {
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 30px;
			cursor: pointer;
			color: white;
		}