<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>TANTANGENT</title>
	<link href="../main css.css" rel="stylesheet" type="text/css" media="screen">
	<link href="https://fonts.googleapis.com/css?family=Dela Gothic One" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="tantangent.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	
</head>
<body>
<header>
	<!--Navigation Bar-->
	<nav class="navigation-bar">
		<ul>
				<li><a href="/pages/about.html" class="about hvr-sweep-to-right">ABOUT<span class="contact">/CONTACT</span></a></li>
			  <li><a href="/pages/illustration.html" class="illustration hvr-sweep-to-right">ILLUSTRATION</a>
				  <ul class="subtitle">
						<li><a href="#books"><span class="slash hvr-sweep-to-right">//</span>Books</a></li>
						<li><a href="#personal works"><span class="slash hvr-sweep-to-right">//</span>Personal works</a></li>
					</ul>
			   </li>
				<li><a href="/pages/graphic design.html" class="graphic-design hvr-sweep-to-right">GRAPHIC DESIGN</a></li>
			  <li><a href="/pages/other work.html" class="other-work hvr-sweep-to-right">OTHER WORK</a></li>
		</ul>		
	  </nav>
    <!--Logo&title-->
        <a href="https://cocoluq.github.io/"><img src="../assets/logo/logowithredeye.svg" class="logo-but-smaller" alt="logo but smaller">
		<h1 class="title-but-smaller">TANTANGENT</h1></a>
</header>
        <!--main structure-->
        <div class="right-bottom-box">
            <ul class="generic-page-title">
            <li><h1>GENERIC PAGE</h1></li>
            <li><h1>TITLE</h1></li>
            </ul>
        </div>
		<section class="container">
			<div class="title-of-page">title in page
		<hr>
			</div>
		</section>
<footer>
	<div class="footer"><p class="copyright">&copy; Tantangent. All rights reserved. <br>cocoluq@gmail.com</p></div>
</footer>
</body>
</html>
